{% extends 'base.html' %}

{% block title %}
    PokeAPI Page
{% endblock %}

{% block content %}
<form method="POST" class="px-3">
  {{ form.hidden_tag() }}
  <p>Enter the name of the pokemon you'd like to see and hit 'Search'</p>
  <div>
    {{ form.get_pokemon }}
    {{ form.submit_btn }}
  </div>
</form>

{% if poke_dict %}
<div class="m-3">
  <div class="card" style="width: 18rem;">
    <img src="{{poke_dict.sprite}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{poke_dict.name.title()}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ability: {{poke_dict.ability}}</li>
      <li class="list-group-item">HP: {{poke_dict.hp}}</li>
      <li class="list-group-item">Defense: {{poke_dict.defense}}</li>
      <li class="list-group-item">Attack: {{poke_dict.attack}}</li>
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}